.title {
  text-align: center;
  text-size-adjust: $textXl;
  margin: $marginMd;
}
.cuerpo {
  background-color: $maincolor;
  font-family: $mainFont;
  padding: $paddingSm;
}
.parrafo-box {
  font-size: $textXl;
  text-align: center;
  font-family: $secundaryfont;
}
.parrafo-grande {
  font-size: $textLx;
}
.parrafo-mediano {
  font-size: $textMd;
}

.imagen-img {
  width: 200px;
  height: 200px;
}
.box {
  border: 5px;
  padding: $paddingAt;
  font-family: $mainFont;
  font: bold;
  width: 350px;
  height: 550px;
}
.contenedor-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.contenedor-flex-dos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 550px;
  width: 1870px;
}
.grid {
  width: 99%;
  display: grid;
}

.grid-template-columns-row {
  grid-template-columns: 50% 30%;
  grid-template-rows: 50% 30%;
  gap: 20%;
  align-content: space-between;
}

.template-areas {
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav nav"
    "main links pie"
    "pien nav links";
}

.caja {
  display: grid;

  width: 250px;
  height: 250px;
  margin: $marginMm;
}

.fander {
  align-items: baseline;
}
.cuerpo {
  background-color: $maincolor;
  font-family: $mainFont;
  padding: $paddingSm;
}

.logo-container {
  text-align: center;
}

.logo {
  max-height: 100%;
}

.encabezado {
  background-color: $keycolor;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
}
.contenido {
  padding-left: $paddingMd;
  padding-right: $paddingMd;
  width: 100%;
  height: auto;
}
.parrafo-grande {
  @include textos(40px, 45px, black, 10px);
}
.parrafo-mediano {
  font-size: $textMd;
}
.justify-content {
  justify-content: space-evenly;
}

@media (max-width: 599px) {
  body {
    background-color: $fifthcolor;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  body {
    background-color: $fourthcolor;
  }
}

@media (min-width: 1025px) {
  body {
    background-color: $thirdcolor;
  }
}
