
.parrafo-carrusel-uno {
    font-size: 10px;
    color: rgb(255, 254, 254);
  }
  
  .parrafo-carrusel {
    font-size: 10px;
    color: rgb(0, 0, 0);
  }
  .imagen-carrusel {
    width: 300px;
    height: 300px;
  }
  