

.title-e {

    text-align: center;
    text-size-adjust: $textXl;
    margin: $marginMd;
    
}




.page-e {

    text-align: center;
    text-size-adjust: $textLx;
    margin: $marginMd;
}

.c-error {
    align-content: center;
    align-items: center;
}