/*color*/
$maincolor:rgb(96, 157, 159);
$secundarycolor: rgb(139, 139, 139) ;
$keycolor:rgb(29, 29, 29);
$white: rgb(255, 255, 255)


$mainFont  Georgia, 'Times New Roman';
$secundaryfont: sans-serif;

$textSm: 10px;
$textMd:20px;
$textLg:30px;
$textXl:50px;


$textBold:600px;
$textLigth:300px;
$textRegular: 400px;

