/*color*/
$maincolor:rgb(96, 157, 159);
$secundarycolor: rgb(139, 139, 139) ;
$keycolor:rgb(29, 29, 29);
$white: rgb(255, 255, 255);


$mainFont: Georgia 'Times New Roman';
$secundaryfont: Verdana, Geneva, Tahoma, sans-serif;

$textSm: 10px;
$textMd:20px;
$textLg:30px;
$textLx: 40px; 
$textXl:50px;


$textBold:600px;
$textLigth:300px;
$textRegular: 400px;

$paddingSm: 5px;
$paddingMm:10px;
$paddingMt:15px;
$paddingMd: 20px;
$paddingXl: 30px;
$paddingAt: auto;

$marginSm: 5px;
$marginMd: 10px;
$marginMm:15px ;
$marginXl:  20px;
$marginXxl:40px;
$marginAt: auto;

